@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,125,100..900;1,125,100..900&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,125,900;1,125,900&family=Bebas+Neue&display=swap');

* {
    /*border: green 1px solid;*/
}

body {
    background: linear-gradient(to left, #7DD957, #0097B2);
    font-size: 16px; /* Set base font size */
    margin: 0;
}

body section {
    display: flex;
    justify-content: center;
    height: 100vh;
}

header article {
    padding: 1.0vw;

    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 125;

    color: white;
}

.landing {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    position: absolute;
}

.junocraane {
    font-family: 'Open Sans', sans-serif;
}

.junocraane h1 {
    font-size: 10vw; /* Responsive font size */
    font-weight: bolder;
    color: #fff;
    letter-spacing: 0.5rem;
    margin: 0;
    position: absolute;
    top: 0vw;
    left: 7vw;
}

.junocraane h2 {
    font-size: 8vw; /* Responsive font size */
    font-weight: bolder;
    color: #FFBD59;
    letter-spacing: 0.5rem;
    margin: 0;
    position: absolute;
    top: 10.5vw;
    left: 5.5vw;
}

.slogan {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 125;
    font-size: 1.5vw; /* Responsive font size */
    line-height: 2rem;
    position: absolute;
    color: #fff;
    width: 40vw;
    left: 6vw;
    top: 23vw;
}

/* Showcase ARROWSDOWN*/


body .arrows {
    position: relative;
   /**/
    position: absolute;
    top: 80%;
    left: 50%;
    width: 80px;
   /**/
    height: 80px;
    transform: translate(-50%, -50%);
}
body .arrows:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 26.6666666667px solid rgba(0, 0, 0, 0.7);
    border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0.7);
    transform: translate(26.6666666667px, 106.6666666667px) rotate(-45deg);
    animation: arrows 3s linear infinite;
}
body .arrows:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 26.6666666667px solid rgba(0, 0, 0, 0.7);
    border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0.7);
    transform: translate(53.3333333333px, 0px) rotate(-45deg);
    animation: arrows 3s linear infinite -1.5s;
}
@keyframes arrows {
    0% {
        border-left: 26.6666666667px solid rgba(0, 0, 0, 0);
        border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0);
        transform: translate(-13.3333333333px, -53.3333333333px) rotate(-45deg);
   }
    10%, 90% {
        border-left: 26.6666666667px solid rgba(0, 0, 0, 0);
        border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0);
   }
    50% {
        border-left: 26.6666666667px solid rgba(0, 0, 0, 0.7);
        border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0.7);
        transform: translate(-13.3333333333px, 0px) rotate(-45deg);
   }
    100% {
        border-left: 26.6666666667px solid rgba(0, 0, 0, 0);
        border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0);
        transform: translate(-13.3333333333px, 53.3333333333px) rotate(-45deg);
   }
}


/* Showcase images */

.container-showcase {
    position: absolute;
    display: flex;
    flex-wrap: wrap; /* Allow images to wrap on smaller screens */
    justify-content: center;
}

.container-showcase img {
    position: absolute;
    border-radius: 2rem;


}

@keyframes scaleUpOnHover {
    to {
        transform: scale(1.5);
    }
}

.container-showcase img:hover {
    /* Apply the scaleUpOnHover animation on hover */
    animation: scaleUpOnHover 0.1s ease-in-out forwards;
}

@keyframes moveRight {
    0% {
        transform: translateX(0) translateY(0) scale(1);
    }
    50% {
        transform: translateX(2rem) translateY(1rem) scale(1);
    }
    100% {
        transform: translateX(0) translateY(0rem) scale(1);
    }
}

/*chatGPT keyframes*/


@keyframes moveRightCircularUp {
    0% {
        transform: translateX(0) translateY(2rem) scale(1);
    }
    50% {
        transform: translateX(-2rem) translateY(1rem) scale(1);
    }
    100% {
        transform: translateX(0) translateY(2rem) scale(1);
    }
}

@keyframes moveRightCircularDown {
    0% {
        transform: translateX(0) translateY(-2rem) scale(1);
    }
    50% {
        transform: translateX(2rem) translateY(-1rem) scale(1);
    }
    100% {
        transform: translateX(0) translateY(-2rem) scale(1);
    }
}

@keyframes moveRightCircularLeft {
    0% {
        transform: translateX(-2rem) translateY(0) scale(1);
    }
    50% {
        transform: translateX(-1rem) translateY(-2rem) scale(1);
    }
    100% {
        transform: translateX(-2rem) translateY(0) scale(1);
    }
}

@keyframes moveRightCircularRight {
    0% {
        transform: translateX(2rem) translateY(0) scale(1);
    }
    50% {
        transform: translateX(1rem) translateY(2rem) scale(1);
    }
    100% {
        transform: translateX(2rem) translateY(0) scale(1);
    }
}

@keyframes moveRightCircularDiagonalUpRight {
    0% {
        transform: translateX(2rem) translateY(2rem) scale(1);
    }
    50% {
        transform: translateX(0) translateY(0) scale(1);
    }
    100% {
        transform: translateX(2rem) translateY(2rem) scale(1);
    }
}


@keyframes moveRightCircularDiagonalDownLeft {
    0% {
        transform: translateX(-2rem) translateY(-2rem) scale(1);
    }
    50% {
        transform: translateX(0) translateY(0) scale(1);
    }
    100% {
        transform: translateX(-2rem) translateY(-2rem) scale(1);
    }
}





.container-showcase img:nth-child(1) {
    top: 0vw;
    left: 13vw;
    object-fit: cover;
    width: 15vw;
    z-index: 10;


    animation: moveRight 5s ease-in-out 0s infinite forwards;

}

.container-showcase img:nth-child(2) {
    top: 12vw;
    left: 23vw;
    object-fit: cover;
    width: 12.5vw;
    z-index: 9;


    animation: moveRightCircularRight 5s ease-in-out infinite forwards;

}
.container-showcase img:nth-child(3) {
    top: 12vw;
    left: 25vw;
    object-fit: cover;
    width: 12.5vw;
    z-index: 9;


    animation: moveRightCircularLeft 5s ease-in-out infinite forwards;

}
.container-showcase img:nth-child(4) {
    top: 12vw;
    left: 25vw;
    object-fit: cover;
    width: 12.5vw;
    z-index: 9;


    animation: moveRightCircularRight 5s ease-in-out infinite forwards;

}

.container-showcase img:nth-child(5) {
    top: 20vw;
    left: 8vw;
    object-fit: cover;
    width: 12vw;
    z-index: 11;

    animation: moveRightCircularDiagonalUpRight  5s ease-in-out infinite forwards;
}

.container-showcase img:nth-child(6) {
    top: 6vw;
    left: 6vw;
    object-fit: cover;
    width: 15vw;
    z-index: 7;
    animation: moveRightCircularLeft   5s ease-in-out infinite forwards;

}

@media screen and (max-width: 768px) {
    /* Apply styles for smaller screens (e.g., tablets) */
    .junocraane h1 {
        font-size: 8vw;
    }
    .junocraane h2 {
        font-size: 6vw;
    }
    .slogan {
        font-size: 1.5vw;
    }
    .container-showcase img {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    /* Apply styles for smaller screens (e.g., mobile devices) */
    .junocraane h1 {
        font-size: 6vw;
    }
    .junocraane h2 {
        font-size: 4vw;
    }
    .slogan {
        font-size: 1.2vw;
    }
}

.carousel-wrap {
    display: flex;
    /*width: 100vh !* width of three divs *!*/
    height: 70vh; /* Set a fixed height */
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;

    background: linear-gradient(to left, #10B175, #7E5DEF);

}

.carousel {
    display: flex;
    height: 80%;
    width: 300vh; /* width of three divs */
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;


}

.carousel div {
    clip-path: polygon(0 0, 66% 0, 100% 100%, 33% 100%);
    width: 75vh; /* Set a fixed width */
    height: 60vh; /* Set a fixed height */
    overflow: hidden; /* Prevent content from expanding the div */
    margin: -10vh;
    color: white;
    text-align: center;
    transition: all 0.5s ease;
}

.carousel div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carousel div h3 {
    font-size: 2rem;
    margin: 0;
    color: white;

    position: absolute;


    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 125;

}

.carousel div:nth-child(1) {

    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel div:nth-child(2) {

    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel div:nth-child(3) {

    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel div:nth-child(4) {

    background: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel div:nth-child(5) {

    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
}


#prevBtn, #nextBtn {
    position: absolute;
    top: 50%;


    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    z-index: 20;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}


/*FORM*/

.form-section * {
    /* border: yellow solid 1px; */
    font-size: 2rem;
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    ;
    
}
.form-section  {
    display: flex;
    height: 120vh;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 5vw;
    justify-content: space-between;
}
.form-section h3{
    margin-bottom: 1vh;
    font-weight: 900;
}
.form {
    display: flex;
    flex-direction: column;
    /* margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 6vw; */
}
.input-form {
    display: flex;
    flex-direction: column;
    width: 35vw;
}
.input-form label, .input-form input, .input-form textarea {
    display: block;
    margin-bottom: 10px;
    width: 99%;
}
.input-form button {
    width: 101%;
}

.radio-wrapper {
    display: flex;
    flex-direction: row;
}
.radio-option {
    margin: 2vw;
    margin-top: 1vw;
    margin-left: 0;
}
 
/* Hide the default radio button */
input[type="radio"] {
    display: none;
}

/* Create a new custom radio button */
input[type="radio"] + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
}

input[type="radio"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1.8rem;
    height: 1.8rem;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #fff;
}

/* Style for when the radio button is checked */
input[type="radio"]:checked + label:before {
    background-color: #000;
}

.radio-option {
    color: white;
    font-weight: 1000;
}

.input-form textarea {
    resize: none;
    font-size: 0.9rem;
    width: 99%;
    height: 20vh;
}

.signature {
    font-size: 1.6rem;
}

.signature h2 {
    font-size: 8vw; /* Responsive font size */
    font-weight: bolder;
    color: #fff;
    letter-spacing: 0.5rem;
    margin: 0;
    
    
}

.signature h3 {
    font-size: 6vw; /* Responsive font size */
    font-weight: bolder;
    color: #FFBD59;
    letter-spacing: 0.5rem;
    margin-top: -5vh;
    /* position: absolute; */
    top: 0vw;
    left: 7vw;
}
.p1 {
    font-size: 2.5rem;
    margin-top: 13vh;
   
}

.p2 {
    font-size: 1.1rem;
    font-weight: 1000;
    
}

.social-links {
    list-style: none;
    padding: 0;
    margin-top: 6vw;
}

.social-links li {
    display: inline;
    /* margin-bottom: 0; Adjust as needed */
}

.social-links li a img {
    width: 5vw; /* Adjust as needed */
     /* Adjust as needed */
}
 
