@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,125,100..900;1,125,100..900&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,125,900;1,125,900&family=Bebas+Neue&display=swap');

* {
    /*border: green 1px solid;*/
}

body {
    background: linear-gradient(to left, #7DD957, #0097B2);
    font-size: 16px; /* Set base font size */
}

body section {
    display: flex;
    justify-content: center;
    height: 100vh;
}

header article {
    padding: 1.0vw;

    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 125;

    color: white;
}

.landing {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    position: absolute;
}

.junocraane {
    font-family: 'Open Sans', sans-serif;
}

.junocraane h1 {
    font-size: 10vw; /* Responsive font size */
    font-weight: bolder;
    color: #fff;
    letter-spacing: 0.5rem;
    margin: 0;
    position: absolute;
    top: 0vw;
    left: 7vw;
}

.junocraane h2 {
    font-size: 8vw; /* Responsive font size */
    font-weight: bolder;
    color: #FFBD59;
    letter-spacing: 0.5rem;
    margin: 0;
    position: absolute;
    top: 10.5vw;
    left: 5.5vw;
}

.slogan {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 125;
    font-size: 1.5vw; /* Responsive font size */
    line-height: 2rem;
    position: absolute;
    color: #fff;
    width: 40vw;
    left: 6vw;
    top: 23vw;
}

.container-showcase {
    position: absolute;
    display: flex;
    flex-wrap: wrap; /* Allow images to wrap on smaller screens */
    justify-content: center;
}

.container-showcase img {
    position: absolute;
    border-radius: 2rem;


}

@keyframes scaleUpOnHover {
    to {
        transform: scale(1.5);
    }
}

.container-showcase img:hover {
    /* Apply the scaleUpOnHover animation on hover */
    animation: scaleUpOnHover 0.1s ease-in-out forwards;
}

@keyframes moveRight {
    0% {
        transform: translateX(0) translateY(0) scale(1);
    }
    50% {
        transform: translateX(2rem) translateY(1rem) scale(1);
    }
    100% {
        transform: translateX(0) translateY(0rem) scale(1);
    }
}

/*chatGPT keyframes*/


@keyframes moveRightCircularUp {
    0% {
        transform: translateX(0) translateY(2rem) scale(1);
    }
    50% {
        transform: translateX(-2rem) translateY(1rem) scale(1);
    }
    100% {
        transform: translateX(0) translateY(2rem) scale(1);
    }
}

@keyframes moveRightCircularDown {
    0% {
        transform: translateX(0) translateY(-2rem) scale(1);
    }
    50% {
        transform: translateX(2rem) translateY(-1rem) scale(1);
    }
    100% {
        transform: translateX(0) translateY(-2rem) scale(1);
    }
}

@keyframes moveRightCircularLeft {
    0% {
        transform: translateX(-2rem) translateY(0) scale(1);
    }
    50% {
        transform: translateX(-1rem) translateY(-2rem) scale(1);
    }
    100% {
        transform: translateX(-2rem) translateY(0) scale(1);
    }
}

@keyframes moveRightCircularRight {
    0% {
        transform: translateX(2rem) translateY(0) scale(1);
    }
    50% {
        transform: translateX(1rem) translateY(2rem) scale(1);
    }
    100% {
        transform: translateX(2rem) translateY(0) scale(1);
    }
}

@keyframes moveRightCircularDiagonalUpRight {
    0% {
        transform: translateX(2rem) translateY(2rem) scale(1);
    }
    50% {
        transform: translateX(0) translateY(0) scale(1);
    }
    100% {
        transform: translateX(2rem) translateY(2rem) scale(1);
    }
}


@keyframes moveRightCircularDiagonalDownLeft {
    0% {
        transform: translateX(-2rem) translateY(-2rem) scale(1);
    }
    50% {
        transform: translateX(0) translateY(0) scale(1);
    }
    100% {
        transform: translateX(-2rem) translateY(-2rem) scale(1);
    }
}





.container-showcase img:nth-child(1) {
    top: 0vw;
    left: 13vw;
    object-fit: cover;
    width: 15vw;
    z-index: 10;


    animation: moveRight 5s ease-in-out 0s infinite forwards;

}

.container-showcase img:nth-child(2) {
    top: 12vw;
    left: 23vw;
    object-fit: cover;
    width: 12.5vw;
    z-index: 9;


    animation: moveRightCircularRight 5s ease-in-out infinite forwards;

}
.container-showcase img:nth-child(3) {
    top: 12vw;
    left: 25vw;
    object-fit: cover;
    width: 12.5vw;
    z-index: 9;


    animation: moveRightCircularLeft 5s ease-in-out infinite forwards;

}
.container-showcase img:nth-child(4) {
    top: 12vw;
    left: 25vw;
    object-fit: cover;
    width: 12.5vw;
    z-index: 9;


    animation: moveRightCircularRight 5s ease-in-out infinite forwards;

}

.container-showcase img:nth-child(5) {
    top: 20vw;
    left: 8vw;
    object-fit: cover;
    width: 12vw;
    z-index: 11;

    animation: moveRightCircularDiagonalUpRight  5s ease-in-out infinite forwards;
}

.container-showcase img:nth-child(6) {
    top: 6vw;
    left: 6vw;
    object-fit: cover;
    width: 15vw;
    z-index: 7;
    animation: moveRightCircularLeft   5s ease-in-out infinite forwards;

}

@media screen and (max-width: 768px) {
    /* Apply styles for smaller screens (e.g., tablets) */
    .junocraane h1 {
        font-size: 8vw;
    }
    .junocraane h2 {
        font-size: 6vw;
    }
    .slogan {
        font-size: 1.5vw;
    }
    .container-showcase img {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    /* Apply styles for smaller screens (e.g., mobile devices) */
    .junocraane h1 {
        font-size: 6vw;
    }
    .junocraane h2 {
        font-size: 4vw;
    }
    .slogan {
        font-size: 1.2vw;
    }
}

.carousel-wrap {
    display: flex;
    /*width: 100vh !* width of three divs *!*/
    height: 70vh; /* Set a fixed height */
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;

    background: linear-gradient(to left, #10B175, #7E5DEF);

}

.carousel {
    display: flex;
    height: 80%;
    width: 300vh; /* width of three divs */
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;


}

.carousel div {
    clip-path: polygon(0 0, 66% 0, 100% 100%, 33% 100%);
    width: 75vh; /* Set a fixed width */
    height: 60vh; /* Set a fixed height */
    overflow: hidden; /* Prevent content from expanding the div */
    margin: -10vh;
    color: white;
    text-align: center;
    transition: all 0.5s ease;
}

.carousel div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carousel div h3 {
    font-size: 2rem;
    margin: 0;
    color: white;

    position: absolute;


    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 125;

}

.carousel div:nth-child(1) {

    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel div:nth-child(2) {

    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel div:nth-child(3) {

    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel div:nth-child(4) {

    background: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel div:nth-child(5) {

    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
}


#prevBtn, #nextBtn {
    position: absolute;
    top: 50%;


    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    z-index: 20;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}